body {
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: bisque;
}

.header-main {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 2px;
  width: 90%;
  background-color: lightgray;
}

.profile-main {
  min-width: 250px;
  min-height: 250px;

  border: 2px;
  background-color: tomato;
}

.trend-main {
  min-width: 250px;
  min-height: 250px;

  border: 2px;
  background-color: lightblue;
}

.welcome-main {
  min-width: 250px;
  min-height: 250px;

  border: 2px;
  background-color: lightsalmon;
}

.body-main {
  min-width: 250px;
  min-height: 250px;

  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
